#main {
	padding-top: 25px;
}


h1 {
	margin: 25px 0;
}

form {
	margin: 40px 0;
}

input {
	text-align: center;
	margin: 10px !important;
	width: 300px;
	height: 35px;
}

.button-orange {
	background-color: tomato;
	color: white;
	width: 36%;
	margin-bottom: 6px;
	margin-top: 20px;
}

img {
	height: 600px;
}

